/* {
    box-sizing: border-box;
} */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quiz-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 40px;
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    height: 100%;
    min-height: 300px;
    max-height: 600px;
}
.rising-text {
    font-size: 1.2em;
    color: #0014ea;
    margin-top: 0;
}
.quiz-header {
    font-size: 2.5em;
    margin: 0.5em 0;
    position: relative;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.8);
}
.sub-header {
    font-size: 1.0em;
    color: #333;
    margin: 0;
    font-weight: bold;
}
.start-button {
    background-color: #2436f8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.1s;
}
.start-button:hover {
    background-color: #3700B3;
    transform: translateY(-3px);
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.8);
}
.start-button:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.8);
}
.header_OX{
    color: #f26bf4;
    display: inline; 
}
.header_Quiz{
    color: #9759ef;
    display: inline; 
}
.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #555;
    color: #fff;
}

.button:active {
    transform: scale(0.98);
}

/* 정답, 오답 버튼 스타일 */
.answer-button {
    background-color: #f8f9fa;
    color: #333;
}

.answer-button:hover {
    background-color: #17a2b8;
    color: #fff;
}

/* 이전, 다음 문제 버튼 스타일 */
.previous-question, .next-question {
    background-color: #007bff;
    color: #ffffff;
}

.previous-question:hover, .next-question:hover {
    background-color: #0056b3;
}

.previous-question:active, .next-question:active {
    background-color: #004085;
}