body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #ffcbcb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 540px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

.answer-button {
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    width: 45%;
}

.answer-button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}
